/* Fill CSS here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-inline: 5%;


}

form {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.358);
    padding: 25px;
    border-radius: 5px;
}



body > h1 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: rgb(86, 114, 237);
    text-decoration: underline;
    text-transform: uppercase;

}

label, input, select {
    font-size: 20px;
}

input, select {
    margin-bottom: 14px;
    margin-top: 4px;
    width: 100%;
    padding: 8px 12px ;
}
th {
    background-color: rgb(86, 114, 237);
    padding: 5px 12px;
    font-size: 17px;
    color: #fff;
}

td {
    padding: 5px 12px;
    font-size: 17px;
   
}

tbody > tr {
    border: 1px solid black;
}
input[type='submit'] {
    background-color: rgb(86, 114, 237);
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    padding-block: 8px;
}
.delete {
    background-color: red;
    cursor: pointer;
    color: #fff;
}

.white {
    background-color: rgba(86, 114, 237, 0.135);
}
.skyblue {
    background-color: rgba(86, 114, 237, 0.553);

}

button {
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
}